@import './mixin.less';

.bottom-column {
  height: @bottomColumnHeight;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  line-height: @bottomColumnHeight;
  background: #fff;
  .flex-between();

  .left {
    width: 70%;
    padding-left: 15px;
  }

  .right {
    width: 90px;
    text-align: center;
    background: #ccc;
    color: #fff;

    &.active {
      background: @blue;
    }
  }
}
