@import './mixin.less';

@inputHeight: 80rpx;

.form {
  padding: 0 20rpx;
  .input {
    .flex-between();
    border: 1rpx solid @borderColor;
    height: @inputHeight;
    margin-bottom: 20rpx;

    

    input {
      width: 80%;
      height: 100%;
      line-height: @inputHeight;
      font-size: 26rpx;
      padding-left: 30rpx; 
    }

    .input-assist {
      width: 20%;
      text-align: center;
      height: 100%;
      line-height: @inputHeight;

      &.input-assist__code {
        background: red;
        color: #fff;
      }
    }

   
  }


}