@import './mixin.less';

.panel {
  margin: 24rpx;
  margin-top: 0;
  .panel-header {
    .flex-between();
    height: 104rpx;
    line-height: 104rpx;
    padding: 0 30rpx;
    .panel-header__title {
      font-size: 30rpx;
      font-weight: bold;
      
    }

    .panel-header__other {
      font-size: 28rpx;
    }
  }

  .panel-body {
    background: #fff;
    padding: 20rpx;
    font-size: 28rpx;
  }
}