@import './mixin.less';
@import './_btn.less';
@import './_form.less';
@import './_flex.less';
@import './_icon.less';
@import './_panel.less';
@import './_bottomColumn.less';
@import './_cRole.less';
@import './_cUserList.less';

body{
  color: #333;
  font-size: 14px;
  line-height: 1;
  background: #f0f3fa;
  // min-height: 100%;
  font-family: "PingFang SC","Helvetica Neue","Microsoft Yahei",Arial, Helvetica, sans-serif;
}

a {
    display: inline-block;
    line-height: 1;
}

scroll-view,
textarea,
view {
  box-sizing: border-box;
}

.f16 {
  font-size: 16px!important;
}
.f18 {
  font-size: 18px!important;
}

