@borderColor: #999;
@blue: #0095FF;
@red: #f04134;

@bottomColumnHeight: 100rpx;

.flex() {
  display: flex;
}

.flex-start() {
  display: flex;
  justify-content: start;
  align-items: center;
}
.flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-end() {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.limit() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}